/* app/assets/stylesheets/analyses.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
}

h2, h3 {
  color: #007bff; 
}


a {
  color: #007bff; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #28a745; 
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}


p {
  color: #007bff; 
  font-weight: bold;
}
