
h2 {
    color: #007bff; 
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="password_confirmation"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  em {
    color: #6c757d;
  }
  
  .actions {
    text-align: center;
  }
  
  input[type="submit"] {
    background-color: #28a745; 
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #218838; 
  }
  

  .devise-links {
    margin-top: 20px;
    text-align: center;
  }
  
  .devise-links a {
    color: #007bff; 
    text-decoration: none;
  }
  
  .devise-links a:hover {
    text-decoration: underline;
  }
  